@import url('https://fonts.googleapis.com/css?family=Martel|Noticia+Text|Playfair+Display+SC&display=swap');

* {
  box-sizing: border-box;
  margin: 10px;
  /* width: 100%; */
}

body {
  background-color: #2d3748;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display SC', serif;
  width: 100%;
}

.container{
  box-sizing: border-box;
  border-style: solid 20px;
  background-color: #2d3748;
  padding: 20px;
  border-radius: 50px;
  height: 500px;
  align-content: center;
  margin: 0 80px;
  font-weight: 300;
  box-shadow: -6px 4px 20px 20px rgba(0,0,0,0.18);
}

h1{
  color: #B48955;
  text-align: center;
}

.scoreButtons {
  display: flex;

}

.Score {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding: 10px 50px;
  justify-content: space-around;
  color: whitesmoke;
  font-size: 25px;
}

/* button {
  font-size: 17px;
  background-color: #2d3748;
  color: whitesmoke;
  border: #B48955 1px solid;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  box-shadow: 20px rgba(0,0,0,0.18);
} */


.timerFunction {
  font-size: 25px;
}